<h1>サイト紹介</h1>
<p>当サイトは自己啓発本オタクの管理人Zeusが「引き寄せの法則」を実践・報告するブログです。</p>
<h1>なぜLEXUS?</h1>
<p>金持ちになりたい、高級車を持ちたい、という思いの中で出会ったLEXUS。<br>LEXUSに乗っている人たちはどのような人たちでしょうか？<br>一流のステータスを持ち、駐車場つきのいい家に住み、助手席には美しいパートナーの女性を乗せているような人物、のように思っています。<br>私は「LEXUS」を通して自分の求めるありとあらゆるものを得ることができるのでは、という仮説を立て、検証していくことに決めました。</p>
<h1>理念</h1>
<p>〜Wintreprener × Wintertainer〜
<br>人がワクワクして、夢を語り合える、互いに幸福なソリューションを提供し続ける<br>
<br>レクサスを所有するにふさわしい人間、それは人を喜ばせ、夢を自由に語り合える環境を作り出せる人間であると
<br>私は信じています。
<br>この信念のもとに、レクサスを所有する、という私自身がワクワクする夢に向かって
<br>取り組んでいくことを誓います。</p>
