  <div class="top-wrapper">
    <div class="container">
      <h1>Journey to LEXUS<br>I'll reach there.</h1>
    </div>
  </div>
  <div class="brank-white">
    <h1>     </h1>
  </div>
  <div class="lesson-wrapper">
      <div class="heading">
        <h1>Profile</h1>
        <h2>Zeus<br>都内某大学<br>起業家・投資家を志す<br>趣味はバイク・ベース・雑談</h2>
      </div>
  </div>
  <div class="brank-white">
    <h1>     </h1>
  </div>
  <div class="message-wrapper">
    <div class="container">
      <div class="heading2">
        <h1>引き寄せの法則とLEXUSが紡ぐ物語</h1>
        <h2>We can create our own future.</h2>
      </div>
    </div>
  </div>
